*{
    margin: 0;
    padding: 0;
    
}

.contenedor{
    width: 100%;
    border: solid black 1px;
   
    
}

.arbol_cont{
    width: 100%;
    height: 90vh;
    padding-top: 10vh;
    text-align: center;
    background: black;
}

.estrella{
    font-size: 30px;
    width: 100%;
    height: 30px;
    animation: color infinite linear 2s;
}

.arbol{
    width: 100%;
}

.parrafo{
    font-size: 30px;
    animation: color infinite linear 3s;
}

@keyframes color {
    0%{color:rgb(255,0,0)}
    25%{color:rgb(255,255,255)}
    50%{color:rgb(29,122,0)}
    85%{color:rgb(230,255,0)}
    100%{color:rgb(255,0,0)}
    
}


@media(min-width:1024px){
    .arbol_cont{
        height: 75vh;
        padding-top: 25vh;
    }


}